@import url('https://api.fonts.coollabs.io/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-height: 100vh;

    background-color: antiquewhite;
}

main {
    display: flex;
    gap: 0.4em;
}

.bg-container {
    position: relative;
    display: flex;
    flex: 1;

    justify-content: center;
    width: 100%;
}

.bg-image {
    width: 100%;
}

.logo-container {
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    color: white;
    font-size: 4rem;

    margin-top: 2em;
    padding: 8px 0;
}

.odin-logo {
    width: 72px;
}

.credits-container,
a:visited,
a {
    color: white;
    font-size: 1rem;
}

.credits-container {
    position: absolute;
    bottom: 0;

    margin-bottom: 1em;
}

.form-container {
    display: flex;
    flex: 2;

    padding: 12em 0;
}

.form-bg {
    background-color: white;
    padding: 1em;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}